@if(!isLoginPage){

<mat-sidenav-container class="sidenav-container">

  <!-- Sidebar -->
  <mat-sidenav mode="side" opened class="sidenav">
    <h2>Task Manager</h2>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
       <span> Dashboard</span>
      </a>

      <a mat-list-item routerLink="/task" routerLinkActive="active-link">
        <mat-icon>task</mat-icon>
       <span> Tasks </span>
      </a>

      <a mat-list-item routerLink="/folder" routerLinkActive="active-link">
        <mat-icon>folder</mat-icon>
       <span> Project </span>
      </a>

      <a mat-list-item routerLink="/report" routerLinkActive="active-link">
        <mat-icon>assessment</mat-icon>
       <span> Report </span>
      </a>

      <a mat-list-item routerLink="/profile" routerLinkActive="active-link">
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </a>
   
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>

    <!-- Top Header -->
    <mat-toolbar class="top-toolbar">

      <div class="search-box">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search tasks, projects..." (input)="searchTask($event)">
      </div>

      <span class="spacer"></span>

     <button mat-icon-button class="notification-btn">
  <mat-icon>notifications</mat-icon>
</button>

      <div class="admin-user">
        <mat-icon>account_circle</mat-icon>
        <span>{{ adminName }}</span>
      </div>

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>

}
@else {
  <router-outlet></router-outlet>
}